<div class="header">
    <input type="number" id="add_block_input">
    <div id="add_block_button" class="button">
        Add Block
    </div>
    <input type="number" id="cache_size_input">
    <div id="simulate_button" class="button">
        Simulate
    </div>
</div>