<div id="modal">
    <div id="modal-content">
        <div id="modal-header">
            <span id="close">&times;</span>
            <div id="modal-header-text"></div>
        </div>
        <div id="modal-body">
            <div id="modal-body-text-1"></div>
            <div id="modal-body-text-2"></div>
        </div>
        <div id="modal-footer">
            <div id="modal-footer-text"></div>
        </div>
    </div>
</div>