<div id="input-page">
    <canvas>
    </canvas>
</div>

<div id="simulation-page">
    <div id="ram-simulation">
        <div id="ram-side">

        </div>
        <div id="ram-body">
            <canvas id="ram">
            </canvas>
        </div>
        <div id="ram-side">
            
        </div>
    </div>

    <canvas id="blockShelf">
    </canvas>
</div>