<div class="calculator_body">
    <div class="calculator_input">
        <div class="calculator_input_text">
            Bits per word
        </div>
        <input type="number" id="bits_word">
    </div> 
    <div class="calculator_input">
        <div class="calculator_input_text">
            Word per Block
        </div>
        <input type="number" id="words_block">
    </div> 
    <div class="calculator_input">
        <div class="calculator_input_text">
            Cache Size(Block)
        </div>
        <input type="number" id="cache_size">
    </div> 
    <div class="calculator_input">
        <div class="calculator_input_text">
            Memory Size(Block)
        </div>
        <input type="number" id="memory_size">
    </div> 
    <div class="calculator_input">
        <div class="calculator_input_text" >
            Non Load or Load
        </div>
        <select id="read_type">
            <option value="1">Non Load Through</option>
            <option value="2">Load Through</option>
        </select>
    </div> 
    <button id="input_start"> Start Input </button>
</div>