<div class="container">
    <div class="falling-blocks"></div>
    <img src="/files/title.png" alt="ANIMO CACHE Title" class="title_png">
    {{!-- <header class="title">ANIMO<br>CACHE</header> --}}
    <button class="start_button" id="game_button">PRESS TO GAME</button>
</div>

