<div class="container">
    <div class="falling-blocks"></div>
    <img src="https://media.discordapp.net/attachments/1261697556027539507/1268228179181572251/image.png?ex=66aba908&is=66aa5788&hm=0bec88fec0bff123786b4007cccc8d4aca173fbd584b2629db2cfb17a3744ff2&=&format=webp&quality=lossless&width=1202&height=675" alt="ANIMO CACHE Title" class="title_png">
    {{!-- <header class="title">ANIMO<br>CACHE</header> --}}
    <button class="start_button" id="game_button">PRESS TO GAME</button>
</div>

