<div class="container">
    <div class="falling-blocks"></div>
    <img src="/public/files/Home.png" alt="ANIMO CACHE Title" class="title_png">
    {{!-- <header class="title">ANIMO<br>CACHE</header> --}}
    <button class="start_button" id="start_button">PRESS TO START</button>
</div>

