body {
    background-color: white;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#input-page {
    z-index: 1;
    display: absolute;
}

.falling-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks through the blocks */
    z-index: 1; /* Ensures blocks are behind other elements */
}

.block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/files/block.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #087830;
    font-size: 10px;
    opacity: 0.9;
    animation: fall linear;
}

@keyframes fall {
    0% {
        transform: translateY(-50px);
        opacity: 0.9;
    }
    50% {
        transform: translateY(50vh);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

#ram-side {
    width: 400px;
    background-color: #087830;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.counter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.counter-labels, .counter-scores {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.counter-labels p, .counter-scores p {
    margin: 0;
    font-size: 0.8em; /* Smaller font size for a minimal look */
    line-height: 1.2; /* Adjusted for a minimal look */
}

.counter-scores p {
    font-weight: bold;
    text-align: right;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.2em; /* Smaller font size for a minimal look */
    text-align: center;
    width: 100%;
}
