body {
    font-family: 'OCR A Std', monospace;
}

.header{
    font: silkscreen;
    height : 120px;
    width : 100%;
    background-color : #087830;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.header>input{
    height: 40px;
    width: 200px;
}

.header>.button{
    color: #087830;
    border: 2px solid white;
    height: 40px;
    width: 120px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.header>.button:hover{
    background-color: #087830;
    color: white;
    border: white;
}

